<div class="post panel panel-default">
  <div class="media">
    <a class="pull-left" href="<%= post.get('url') %>" target="_blank">
      <img class="media-object" src="<%= post.get('imageURL') %>">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><a href="<%= post.get('permalink') %>" target="_blank"><%= post.get('title') %></a></h4>
      <button class="btn btn-default top-comment">Top Comment</button>
      <button class="btn btn-default all-comments">All Comments</button>
    </div>
  </div>
</div>
