<form action="new_submit" method="get" accept-charset="utf-8">
  <label for="choose_file">Choose File</label><input type="file" name="upload_file" value="" id="upload_file" accept="image/*">
<label for="subreddit">Subreddit</label><input type="text" name="subreddit" value="" id="subreddit">


  <p><input type="submit" value="Continue &rarr;"></p>
</form>