<!DOCTYPE html>
<html>
<head>
  <title>reduccit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>




<%= yield %>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">reduccit</a>
        </div>
        <center>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="active sub-title all"><a href="#">All</a>
                    </li>
                    <li class="sub-title funny"><a href="#Funny">Funny</a>
                    </li>
                    <li class="sub-title earthporn"><a href="#EarthPorn">EarthPorn</a>
                    </li>
                    <li class="sub-title sports"><a href="#Sports">Sports</a>
                    </li>
                    <li class="sub-title pics"><a href="#Pics">Pics</a>
                    </li>
                    <li class="sub-title custom"></li>
                    <li><a href="#new">Submit your own!</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" name="subreddit" placeholder="Subreddit" id="sub-input">
                    </div>
                    <button type="submit" class="btn btn-default" id="sub-nav">Navigate</button>
                    <input type="checkbox" name="over_18" value="" id="over_18">Over 18?</input>
                </form>
            </div>
        </center>
    </div>
</div>

<script>
$('#sub-nav').on('click', function (event) {
  event.preventDefault();
  Redditclone.router.navigate('#' + $('#sub-input').val(), true);
})
</script>

<div id="content"></div>

</body>
</html>
